


body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color:#f5f5dc;

}

header {
  padding: 20px 0;
  font-family: 'Lato', sans-serif;
}

h2{
  font-weight: 500;
  margin: 0;
  font-size:30px;
  color: black;
  margin-left: 40%;
}
h2 a:hover {
  color: yellow;

}
h2 a{
  color: black;

}

header .row,
footer .row {
  display: flex;
  align-items: center;

}

header h1 {
  font-weight: 200;
  margin: 0;
  font-size: 18px;

}

header nav {
  display: flex;
  justify-content: flex-end;

}

header p {
  padding: 0 20px;
  margin: 10;
  text-size: 1.5em;
  text-decoration: underline;
  color: black;

}

p a{
  color: black;

}
p a:hover {
  color: yellow;

}

hr {
color:yellow;
height: 10px;
}

section .row img {
  margin-top: 10px;
  margin: 5 5 20px;
  width: 50%;
padding-top: 20px;
padding-bottom: 20px;
margin-left: 40%;

}
.col-md-5 {
  margin: 10 10 30px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

}


.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;


}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  margin-left: 20%;
}
p{
  align:center;
  width: auto;
  display: flex;
  text-align: center;
  padding: 10 10 10px;
  font-family: 'Lato', sans-serif;
  margin-left: 20%;


}
